/********************************************
* Colors:				
* #6E7587 - Grey
* #FF9900 - Orange
* #3399FF - Light Blue
* #020731 - Dark Blue
* #c9b597 - Lighter Brown
* #AE956D - Light Brown
* #806641 - Dark Brown (unused)
* #55ebde - Green											*
********************************************/



/********************************************							
* Page Load buttons Play and Join game					
********************************************/

.btnPlay{
  border-radius: 60px;
  border: 0px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 100px;
  background: #AE956D;
  padding: 0px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 145px;
  width: 530px;
}

.btnPlay:hover {
	background-color: #c9b597;
}

.btnPlay:focus{
	outline: 0;
}

.btnJoinGame {
	margin-top: 15px;

}

/********************************************							
* Head and game title						
********************************************/
.header{
	position:relative;
	top: 20px;
	width: 1200px;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
}

h6{
	color: #6E7587;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 40px;
	margin: 0px;
	border: 4px solid #6E7587;
	width: 240px;
	padding: 5px;
	text-align: center;
	position: relative;
	left: 0px;
}

#ticColor,
#toeColor{
	color: #3399FF;
}

#tacColor{
	color: #FF9900;
	font-weight: 600;
}


/********************************************							
* Gameboard					
********************************************/
body{
	background-color: #020731;
	background-position: center;
	text-align: center;	
	vertical-align: middle;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container{
	width: 1200px;
	background-color:#020731;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:0px;
}

.board{
	width: 537px;
	height: 537px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	top: 80px;
}

/********************************************							
* Circles on gameboard						
********************************************/
.defaultBox{
	width: 175px;
	height: 175px;
	background-color: #6E7587;
	float: left;
	border-radius: 100px;
	margin: 2px;
}

.blueBox{
	width: 175px;
	height: 175px;
	background-color: #3399FF;
	float: left;
	border-radius: 100px;
	margin: 2px;
}

.ojBox{
	width: 175px;
	height: 175px;
	background-color: #FF9900;
	float: left;
	border-radius: 100px;
	margin: 2px;
}

/********************************************							
* Score Counter (left panel)					
********************************************/
.leftPanel{
	color:#AE956D;
	background-color:transparent;
	font-size: 20px;
	margin: 0px;
	width: 256px;
	height: 300px;
	position: relative;
	top: 35px;
	left: 10px;
	float: left;
}

.leftPanel p{
	color: #AE956D;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-align: left;
	margin: 0px;
	display: block;
	float: left;
}

.blueCounterBox {
	width: 100px;
	height: 100px;
	background-color: #3399FF;
	border-radius: 50px;
	margin-top: 40px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	position: absolute;

}

.ojCounterBox {
	width: 100px;
	height: 100px;
	background-color: #FF9900;
	border-radius: 50px;
	position: absolute;
	margin-top: 40px;
	margin-left: 115px;

}

.blueCounterBox p {
	color: #020731;
	font-size: 40px;
	text-align: center;
	position: relative;
	top: 26px;
	left: 38px;
}

.ojCounterBox p {
	color: #020731;
	font-size: 40px;
	text-align: center;
	position: relative;
	top: 26px;
	left: 38px;
}

/********************************************							
* Button to reset score counter						
********************************************/
.btnResetScore{
	border-radius: 20px;
	border: 0px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: white;
	font-size: 12px;
	background: #AE956D;
	padding: 5px 10px;
	position: absolute;
	margin-top: 8px;
	margin-left: -54px;
}

.btnResetScore:hover {
  background: #c9b597;
  text-decoration: none;
}

.btnResetScore:focus {
	outline:0;
}


/********************************************							
* Box for game over and message					
********************************************/
#gameoverContainer{
	background-color: transparent;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 100px;
	height: 600px;
}
#gameTextBox{
	background-color: white;
	opacity: .9;
	width: 100%;
	margin-left: auto;
	margin-right: auto; 
	position: absolute;
	top: 160px;
	height: 300px;	
}

.winMsg {
	font-family: 'Ubuntu', sans-serif;
	font-size: 160px;
	font-weight: 800;
	color: #3399FF;
	text-align: center;
	top: 0px;
	left: 0px;
	position: relative;
	margin: 0px;
}

.blue {
	color: #3399FF;
}

.oj {
	color: #FF9900;
}

.brown {
	color: #c9b597;
}

/****************************************************							
* Buttons in the game over box - restart and rematch						
****************************************************/
.btnGameOver {
  border-radius: 25px;
  border: 0px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 50px;
  background: #55ebde;
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
  top:15px;
}

.btnGameOver:hover {
  text-decoration: none;
}

.btnGameOver:focus {
	outline:0;
}

.btnNewGame {
  margin-left: 40px;
}

